<div id="particles-js" class="home-section">
  <div class="header">
    <!-- <img src="assets/other_headshot.jpg" /> -->
    <h1>
      <span class="site-title">{{ site.user.name }}</span>
      <span class="site-description">{{ site.user.title }}</span>
    </h1>
    <div class="header-icons">
      <a aria-label="Send email" href="mailto:{{ site.user.email }}"><i class="icon fa fa-envelope"></i></a>
      <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/{{ site.social.linkedin }}"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
      <a aria-label="My Github" target="_blank" href="https://github.com/{{ site.social.github }}"><i class="icon fa fa-github" aria-hidden="true"></i></a>
    </div>
    <div class="header-links">
      <a class="link" href="#about" data-scroll>About Me</a>
      <a class="link" href="#projects" data-scroll>My Projects</a>
      <a class="link" href="#cv" data-scroll>Resume</a>
      <a class="link" href="#blog" data-scroll>Blog</a>
    </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
