<section id="about">
  <div class="content home-section">
    <img id="headshot" src="{{ '/assets/images/headshot.jpg' | relative_url }}" />
    <h1>About Me</h1>
    <p>
      Hi, I'm Rory - a 23 year old student of Computer Science and Mathematics at Western Washington University.
      I am most interested in discrete mathematics and applications to computer science, in fields such as automata, graph theory, and enumerative combinatorics.
      I also have a passion for programming language theory, having worked on several languages and compilers throughout university.
      In my spare time, I write music.
    </p>
  </div>
</section>
<section id="projects">
  <div class="content inverted">
    <h1>Projects</h1>
    <div class="project-list">
      <div class="project">
        <h2>Muze</h2>
        <p>
          Muse is an imperative, statically-typed, compiled programming language being developed at Western Washington University.
        </p>
      </div>
      <div class="project">
        <h2>TBD</h2>
      </div>
    </div>
  </div>
</section>
<section id="cv">
  <div class="content">
    <h1>Resume</h1>
    <p>
      My resume may be seen <a target="_blank" href="{{ '/assets/' | relative_url }}">here (PDF)</a>.
    </p>
  </div>
</section>

