@import "lib/normalize";
@import "lib/fontawesome";
@import "lib/devicon";

@import 'vars';
@import 'base';
@import 'footer';

@import "blog/header";
@import "blog/post_list";
@import "blog/classes";
@import "blog/code";

.content-container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.content {
  width: 90%;
  max-width: 960px;
  text-align: justify;
  font-size: 14pt;
}

