@import "lib/normalize";
@import "lib/fontawesome";
@import "lib/devicon";

@import 'base';
@import 'vars';
@import 'animation';
@import 'footer';

@import "home/header";
@import "home/about";
@import "home/cv";

h1 {
  font-weight: 400;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;

  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.down {
  width: 100%;
  margin: 0 auto;
  z-index: 1;

  color: #FFF;
  display: block;
  cursor: pointer;

  text-align: center;
  font-size: 30px;
  line-height: 30px;

  // no borders
  outline: 0 !important;
  border: none !important;
  outline-style: none !important;

  &:hover {
    color: $sec;
  }
  &:active {
    color: $sec;
  }

  .icon {
    transform-style: preserve-3d;
    width: 100px;
    height: 100px;
    fill: #fff;
    animation: pulse 1.3s infinite;
  }
}

.content {
  flex: 1;

  width: 90%;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }

  svg {
    width: 60px !important;
    height: auto;
  }

  text-align: center;
  margin: 5px auto;


}

#projects {
  background: $dark-bg;
}

.inverted {
  h1, h2, h3, p {
    color: #FFF;
  }
}

.project {
  margin: 10px;
  flex: 1 1 0;
  h2, h3 {
    font-weight: 400;
  }
}

.project-list {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @media only screen and (min-width: $cut) {
    flex-wrap: nowrap;
    font-size: 75px;
  }

  p {
    font-size: 16px;
  }
}

