{{ define "main" }}
  <main class="post">
    <article>
      <h1 class="post-title">
        <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
      </h1>

      {{ with .Params.Description }}
        <div class="post-excerpt">{{ . }}</div>
      {{ end }}

      {{ if .Params.Cover }}
        <figure class="post-cover">
          <img src="{{ .Params.Cover }}" alt="{{ .Title }}" />
          
          {{ if .Params.CoverCaption }}
            <figcaption class="center">{{ .Params.CoverCaption | markdownify }}</figcaption>
          {{ end }}
        </figure>
      {{ end }}

      {{- if .Params.toc }}
        <hr />
        <aside id="toc">
          <div class="toc-title">Table of Contents</div>
          {{ .TableOfContents }}
        </aside>
        <hr />
      {{- end }}

      {{ if .Params.Audio }}
        <div class="post-audio">
          <audio controls>
            <source src="{{ .Params.Audio }}">
          </audio>
        </div>
      {{ end }}

      <div class="post-content">
        {{ .Content }}
      </div>
    </article>

    <hr />

    <div class="post-info">
      <p>
        Posted on {{ dateFormat "2006-01-02" .Date.Local }}

        {{ if .Lastmod }} 
          {{ if not (eq .Lastmod .Date )}}
            Last Modified: {{ dateFormat "2006-01-02 15:04" .Lastmod.Local }})
          {{ end }}
        {{ end }}
      </p>

      {{ partial "tags.html" .Params.tags }}
      {{ partial "categories.html" . }}
    </div>
  </main>
{{ end }}
