.post-list {
  list-style-type: none;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  li {
    width: 50%;
    min-width: 400px;
  }

  a {
    display: block;
  }
}

