.post-list {
  list-style-type: none;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  li {
    width: 100%;
  }

  a {
    display: block;
    text-decoration: none;
    padding: 10px;

    &:hover {
      background: #eee;
    }

    &:visited p {
      color: $light-fg;
    }
  }
}

