#about {
  font-size: 120%;

  .content {
    display: flex;
    align-items: center;
    justify-items: center;
  }
}

#headshot {
  float: left;
  border-radius: 50%;
  width: 350px;
  height: auto;
  padding: 30px;
}

