<div id="particles-js" class="card inverted">
  <div class="header">
    <!-- <img src="assets/other_headshot.jpg" /> -->
    <h1>
      <span class="user-name">{{ site.user.name }}</span>
      <span class="user-title">{{ site.user.title }}</span>
    </h1>
    <div class="header-icons">
      <a aria-label="Send email" href="mailto:{{ site.user.email }}"><i class="icon fa fa-envelope"></i></a>
      <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/{{ site.social.linkedin }}"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
      <a aria-label="My Github" target="_blank" href="https://github.com/{{ site.social.github }}"><i class="icon fa fa-github" aria-hidden="true"></i></a>
      <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{ site.social.twitter }}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
    </div>
    <div class="header-links">
      <a class="link" href="#about" data-scroll>About Me</a>
      <a class="link" href="#projects" data-scroll>My Projects</a>
      <a class="link" href="#cv" data-scroll>Resume</a>
      <a class="link" href="{{ '/blog' | relative_url }}">Blog</a>
    </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>

<section id="about" class="card">
  <div class="content">
    <div>
      <img id="headshot" src="{{ '/assets/images/headshot.jpg' | relative_url }}" />
      <h1>About Me</h1>
      <p>
        Hi, I'm Rory - a recent graduate of Computer Science and Mathematics at Western Washington University.
        I am most interested in discrete mathematics and applications to computer science, in fields such as automata, graph theory, and combinatorics.
        I also have a passion for programming language theory, having worked on several languages and compilers throughout my time in university.
        In my spare time, I write music.
      </p>
    </div>
  </div>
  <a class="down" href="#projects" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</section>

<section id="projects" class="card inverted">
  {% include home/projects.html %}
</section>

<section id="cv" class="card">
  <div class="content">
    <h1>Resume</h1>

    <div id="cv-education" class="cv-section">
      <h2>Education</h2>

      <div class="cv-item">
        <h3>
          Western Washington University
          <span class="cv-epoch">June, 2020</span>
          <span class="cv-info">Computer Science, BS</span>
          <span class="cv-info">Mathematics, BS</span>
        </h3>
      </div>
    </div>

    <div id="cv-experience" class="cv-section">
      <h2>Experience</h2>

      <div class="cv-item">
        <h3>
          Undergraduate Research Assistant
          <span class="cv-epoch">April, 2019 - March, 2020</span>
          <span class="cv-info">Western Washington University</span>
        </h3>
      </div>

      <div class="cv-item">
        <h3>
          Teaching Assistant
          <span class="cv-epoch">September, 2019 - March, 2020</span>
          <span class="cv-info">Western Washington University</span>
        </h3>
      </div>

      <div class="cv-item">
        <h3>
          Full Stack Intern
          <span class="cv-epoch">June, 2015 - December 2015</span>
          <span class="cv-info">Unikrn</span>
        </h3>
      </div>

    </div>

  </div>
</section>

