<div class="content">
  <h1>Projects</h1>
  <div class="project-list">
    <div id="muze-project" class="project">
      <div id="muze-bg"></div>
      <h2>Muze</h2>
      <p>
        I worked as a research assistant on the development of the Muze programming language.
        Muse is an imperative, statically-typed, compiled language being developed at Western Washington University.
        It contains two defining features: type information baked into its pointers, and cascading type morphs.
      </p>
      <p>
        Muze offers us a chance to try a new type system, where rather than inheritance driving a tree-like structure into our types, we instead are given a graph, where type morphs provide paths to our base types.
      </p>
    </div>
    <div class="project">
      <div id="multimeter-bg"></div>
      <h2>Embedded Multimeter</h2>
      <p>
        As part of a class on embedded systems, created a real time operating system for the LPC 1114 microprocessor, including support for threading, interrupt handling, and a display driver for an SSD 1306 LCD screen.
        Using this system, I built a multimeter, capable of measuring resistance, capacitance, and inductance, as well as a small Flappy Bird clone as an easter egg.
      </p>
    </div>
  </div>
</div>
<a class="down" href="#cv" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>

